*{
    box-sizing: border-box;
    margin: 0;
}
.home{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pagination ul{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.pagination li {
    display: inline-block;
    cursor: pointer;
    font-family: 'abel', 'lato';
    color: #646464;
}
.previous,.next{
    display: none;
    opacity: 0;
    pointer-events: none;
}

.selected{
    padding: 0.3875rem 0.925rem !important;
    background: #106A99 !important;
    color: #00e8e4!important;
    cursor: default !important;
    border-radius: 2rem;
    font-size: 1.5rem;
    border: 3px solid #00e8e4;
    box-shadow: 0 0 0 2px #106A99;
}


.itemHeader{
    background-color: #106A99;
    float: right;
    width: 100%;
    height: 60px;
    margin: auto;
}

.searchInput {
    padding: 7px;
    border: 6px;
    border-radius: 20px;
    width: 75%;
    font-family: 'abel', 'lato';
    margin-top: 30px;
    background-color: rgb(233, 229, 229);
    padding-left: 20px;
}

::-webkit-input-placeholder {
    color: rgb(128, 173, 201);
}


.main-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 4fr;
}
.movie-box{
    background: #ebebeb;
    display: grid;
    grid-template-rows: 0.5fr auto;
}
.movie-poster{
    cursor: pointer;
    float: right;
}
.title-header{
    display: flex;
    background: #106A99;
    color: #00e8e4;
    cursor: pointer;
    font-family: 'abel', 'lato';
    font-weight: 100;
}
.score-circle-box{
    flex: 0 0 60px;
}
.circle-score{
    font-size: x-large;
    position: relative;
    margin: 0 8px;
    padding: 10px 5px;
    border-radius: 70%;
    background-color: #106A99;
    border: 3px solid #00e8e4;
    box-shadow: 0 0 0 1px #106A99;
    top: 50%;
}
.title-box{
    display: flex;
    font-size: x-large;
}
.self-end{
    align-self: flex-end;
    padding: 0;
    margin: 0;
}
.date-box{
    display: flex;
    font-family: 'abel', 'lato';
    font-weight: 100;
    color: #646464;
    cursor: pointer;
    padding-top: 3px;
    margin-left: 15px;
}
.date-space{
    flex: 0 0 60px;
}

.movie-info-box{
    padding: 1rem 2rem;

    color: #646464;
    font-family: 'abel', 'lato';
}

.content{
    font-family: 'abel', 'lato';
    text-align: justify;
    padding: 0;
    font-size: medium;
    padding: 0.5rem;
}
.genres-field{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-family: 'abel', 'lato';
    max-width: 80%;
    width: 80%;
    margin-top: 20px;
}
.genre-box{
    background-color: white;
    color: #106A99;
    border: 2px solid #106A99;

    text-align: center;

    border-radius: 12px;
    padding: 0.15rem 1.1rem;
    margin: 0.3rem 0.7rem;
    font-size: small;
}








.main-container-details{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #ebebeb;
    margin-top: 20px;
}
.title-details{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    color: #106A99;
    padding: 1rem;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-details-text{
    flex-grow: 2;
    padding: 0 1rem;
text-align:left;

}
.date-text{
    font-family: 'abel', 'lato';
    color: #646464;
}

.content-box-details{
    display: flex;
    flex-wrap: wrap-reverse;
    background: #f2f2f2;
    align-items: stretch;
}

.main-info-box{
    flex: 70;
    padding: 1.7rem;
    background: #f2f2f2;
}
.overview-text{
    font-size: large;
    padding: 0.1rem 0;
    font-weight: normal;
    border-bottom: 2px solid #00e8e4;
    color: #106A99;
    text-align: left;
}
.details-overview{
    font-family: 'abel', 'lato';
    margin: 1.2rem 0;
}
.info-content-box{
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.1rem;
    display: flex;
}
.content-item-name{
    font-family: 'abel', 'lato';
    font-weight: bold;
    font-size: large;
    color: #106A99;
    text-align: center;
    padding: 0;
}
.content-item-value{
    font-family: 'abel', 'lato';
    color: #646464;
    font-size: small;
}
.genre-score-box-details{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.score-circle-details-box{
    width: 20%;
    justify-content: center;
    display: flex;
}
.score-circle-details{
    width: 100px;
    height: 100px;
    background-color: #106A99;
    border: 4px solid #00e8e4;
    box-shadow: 0 0 0 1px #106A99;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    border-radius: 100%;
font-family: 'abel', 'lato';
    color: #00e8e4;
}
.details-poster{
    flex: 20%;
}



#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
